{{ $courses := where .Site.RegularPages "Type" "courses" }}
{{ if $courses }}
<section class="blk" id="courses">
  <div class="shell">
    <div class="hd">
      <div>
        <h2>{{ .Site.Params.courses.title | default "Courses" }}</h2>
      </div>
    </div>
    <div class="rows">
      {{ range (sort $courses ".Params.sort_position" "desc") }}
      <div class="row2" itemscope itemtype="http://schema.org/Course">
        <div class="side">
          {{ with .Params.semester }}<span class="term">{{ . }}</span>{{ end }}
          {{ with .Params.university }}<span class="org">{{ . }}</span>{{ end }}
        </div>
        <div>
          <p class="ttl" itemprop="name"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
          {{ with (.Params.subtitle | default (.Params.description | truncate 180)) }}<div class="ds">{{ . }}</div>{{ end }}
        </div>
        <div class="go"><a href="{{ .Permalink }}">Syllabus</a></div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
