<script src="{{ "js/" | absURL }}stai.js" defer></script>

{{ range .Site.Params.custom_js }}
<script src="{{ (printf "js/%s" .) | absURL }}" defer></script>
{{ end }}

{{ if not .IsHome }}
{{/* Syntax highlighting and maths only where they are actually used. */}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
<script src="{{ "js/" | absURL }}highlight.pack.js"></script>
<script>if (window.hljs) hljs.initHighlightingOnLoad();</script>

<script type="text/x-mathjax-config">
 MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
{{ end }}

</body>
</html>
