{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<main id="main" tabindex="-1">
{{ partial "slogan.html" . }}
{{ partial "index/research-focus.html" . }}
{{ partial "index/record.html" . }}
<section class="blk home-students" id="student-research" aria-labelledby="student-record-title">
  <div class="shell">{{ partial "index/student-record.html" . }}</div>
</section>
{{ partial "index/mentorship.html" . }}
{{ partial "index/alumni-outcomes.html" . }}
{{ partial "index/overview.html" . }}
</main>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
